@using OrganicShop.Domain.Dtos.UserDtos
@model PageDto<User,UserListDto,long>

@section Styles {
    <!-- Data Table css -->
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/datatables.css">
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="filter-menu" style="margin-bottom:20px !important">
                <p class="text-center p-2 filter-menu-header" onclick="ToggleFilterMenu()" onselectstart="return false">
                    <i class="fa-regular fa-filter-list" style="color: #ffffff; font-size:30px;"></i>
                </p>
                <form class="filter-menu-form row col-12">
                    <div class="form-group col-3 mb-1 ">
                        <label class="form-label filter-menu-label">نام کاربر</label>
                        <input name="filter.Name" class="form-control filter-menu-input" type="number" />
                    </div>
                    <div class="form-group col-3 mb-1 ">
                        <label class="form-label filter-menu-label">ایمیل</label>
                        <input name="filter.Email" class="form-control filter-menu-input" type="text" />
                    </div>
                    <div class="form-group col-3 mb-1 ">
                        <label class="form-label filter-menu-label">شماره همراه</label>
                        <input name="filter.PhoneNumber" class="form-control filter-menu-input" type="text" />
                    </div>
                    <div class="form-group col-3 mb-1 ">
                        <label class="form-label filter-menu-label">نقش</label>
                        <select name="filter.Role" class="form-control filter-menu-input">
                            <option>---- همه -----</option>
                            @foreach (var role in EnumExtension.GetArray<Role>())
                            {
                                <option value="@((byte)role)">@role.ToStringValue()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-3 mb-1 ">
                        <label class="form-label filter-menu-label">مرتب سازی</label>
                        <select name="sort" class="form-control filter-menu-input">
                            <option>---- بدون انخاب -----</option>
                            @foreach (var sortType in EnumExtension.GetArray<BaseSortType>())
                            {
                                <option value="@((byte)sortType)">@sortType.ToStringValue()</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="card card-table">
                <div class="card-body">
                    <div class="title-header option-title">
                        <h5>لیست کاربران</h5>
                        <form class="d-inline-flex">
                            <a href="/Admin/User/Create" class="align-items-center btn btn-theme d-flex">
                                <i data-feather="plus"></i>افزودن کاربر جدید
                            </a>
                        </form>
                    </div>

                    <div class="table-responsive table-product">
                        <table class="table all-package theme-table" id="table_id">
                            <thead>
                                <tr>
                                    <th>تصویر</th>
                                    <th>نام</th>
                                    <th>شماره همراه</th>
                                    <th>ایمیل</th>
                                    <th>تنظیمات</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model.List)
                                {
                                    <tr>
                                        <td>
                                            <div class="table-image">
                                                <img src="~/media/images/user/@item.ProfileImage" class="img-fluid"
                                                     alt="@item.Name">
                                            </div>
                                        </td>

                                        <td>
                                            <div class="user-name">
                                                <span>@item.Name</span>
                                                <span>@item.Role.ToStringValue()</span>
                                            </div>
                                        </td>

                                        <td>@item.PhoneNumber</td>

                                        <td>@item.Email</td>

                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="order-detail.html">
                                                        <i class="ri-eye-line"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="/Admin/User/@item.Id/Permissions">
                                                        <i class="ri-pencil-line"></i>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                       data-bs-target="#exampleModalToggle" onclick="SetUser('@item.Id','@item.Name')">
                                                        <i class="ri-delete-bin-line"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }



                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center pb-0">
                    <div class="pagination">
                        <a class="pagination-arrow"><i class="fa-solid fa-arrow-left"></i></a>
                        <a>1</a>
                        <p><i style="padding-top: 5px;" class="fa-solid fa-ellipsis"></i></p>
                        <a>8</a>
                        <a>9</a>
                        <a>10</a>
                        <a class="pagination-item-active">11</a>
                        <a>12</a>
                        <a>13</a>
                        <a>14</a>
                        <p><i class="fa-solid fa-ellipsis"></i></p>
                        <a>20</a>
                        <a class="pagination-arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Modals {
    <!-- Delete Modal Box Start -->
    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">آیا اطمینان دارید ؟</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box">
                        <p>کاربر با نام  <i id="user-name"></i> حذف شود</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete-modal-close" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-animation btn-md fw-bold" onclick="DeleteUser()">بله</button>
                    <button id="success-delete-message" hidden type="button" class="btn btn-animation btn-md fw-bold" data-bs-target="#exampleModalToggle2"
                            data-bs-toggle="modal" data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal Box End -->

    <form href="/Admin/User/Delete" method="delete" onsubmit="FetchRquest(event)">
        <input id="input-id" hidden value="0" name="Id" />
        <button type="submit" hidden id="delete-from-submit"></button>
    </form>

}




@section Scripts {

    <!-- all checkbox select js -->
    <script src="~/admin/assets/js/checkbox-all-check.js"></script>

    <!-- Data table js -->
    <script src="~/admin/assets/js/jquery.dataTables.js"></script>
    <script src="~/admin/assets/js/custom-data-table.js"></script>


    <script>
        let userId = 0;
        let userName = " ";
        let deleteModalClose = document.getElementById('delete-modal-close');
        let deleteFormSubmit = document.getElementById('delete-from-submit');
        let UserIdInput = document.getElementById('input-id');
        let UserNameLi = document.getElementById('user-name');

        function SetUser(id, name) {
            userName = name;
            userId = id;
            UserNameLi.innerHTML = `' ${userName} '`;
            UserIdInput.setAttribute('value', `${id}`);
        }

        function DeleteUser() {
            deleteModalClose.click();
            deleteFormSubmit.click();
            UserNameLi.innerHTML = 'NULL';
            UserIdInput.setAttribute('value', '0');
        }


    </script>



}